*{
     margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
            box-sizing: border-box;
}



body {
             background: #dfb87d;
             min-height: 100vh;
             display: flex;
             flex-direction: column;
             overflow:hidden;
             
         }

         .container {
             flex: 1;
             width: 100%;
             display: flex;
             justify-content: center;
             align-items: center;
             padding: 40px 20px;
         }

.card-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.left-panel {
    width: 180px;
    height: 320px;
    background: #fff;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 10px 15px 12px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.forgot-card {
    width: 380px;
    height: 315px;
    background: #d98c19;
    border-radius: 0 40px 40px 0;
    padding: 30px;
    margin-left: -20px;
    z-index: 0;
    color: white;
}

.forgot-card h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    margin-top: 5px;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-wrapper {
    position: relative;
    width: 80%;
    padding-right : 5px 0;
}

.input-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 20px;
    border: none;
    outline: none;
}

.close-btn {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}

.try-way {
    margin-top: 10px;
    font-size: 13px;
}

.confirm-btn {
    float: right;
    margin-top: 15px;
    padding: 10px 30px;
    background: white;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.error {
    margin-top: 5px;
    color: black;
    background: #ffdede;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

.status {
    background: #c8ffd4;
    color: black;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}
a{
    text-decoration: solid;
    color:white;
    padding :6px;
     float:left;
    
}
header {
             background: #d98c19;
             padding: 20px 40px;
             box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
             text-align: left;
             color: #ffffff;
         }
footer {
             text-align: center;
             padding: 20px;
             color: white;
             font-size: 14px;
             margin-top: auto;
         }
