* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}


body {
             background: #dfb87d;
             min-height: 100vh;
             display: flex;
             flex-direction: column;
             overflow:hidden;
             
         }
.container{
   position: relative;
   margin: auto 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}


.orange-back{
    height: 405px;
    position: relative;
    width: 100%;
    background-color: #EB9D2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    padding: 100px;
    border-radius: 30px;
}

.white-back{
    position: absolute;
    margin-right: 485px;
    height: 405px;
    width: 100%;
    background-color: #FFFFFF;
    max-width: 100px;
    padding: 70px;
    border-radius: 30px;
    z-index: 1;
    box-shadow: 0px 8px 5px 7px rgba(0,0,0,0.2);
}

.orange-back input{
    font-weight: normal;
    outline: none;
    max-width: 350px;
    border: none;
    height: 4vh;
    padding: 5px 15px;
    border-radius: 50px;
}

.orange-back input:focus{
    background-color: rgba(255, 255, 255, 0.5);
}

.orange-back a#F{
    font-weight: normal;
    font-size: 10px;
    margin-left: 5px;
    color: whitesmoke;
    text-decoration: none;
}

.orange-back label{
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 5px;
    margin-left: 5px;
}

.orange-back p{
    font-weight: 600;
    margin: auto auto;
    margin-top: 10px;
    font-size: 12px;
    color: whitesmoke;
}

.orange-back p a{
    text-decoration: none;
    color: #4E95FF;
}

#btn{
    
    background-color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    max-width: 100px;
    padding: 5px;
    margin-left: 158px;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

/* .divider{
    color: whitesmoke;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 5px 0;
} */

/* .divider:before,
.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid #FFFF;
    margin: 0 5px;
} */

/* footer .images{
    width: 100%;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px; }*/
    


/* footer .images img{
    background-color: white;
    border: 1px solid #e7e7e7;
    padding: 25px 30px;
    border-radius: 3px;
    transition: 0.3s ease;
    cursor: pointer;
} */

/* footer .images img:hover{
    box-shadow: 5px 5px 5px 4px rgba(0,0,0,0.2);
} */
header {
    background: #d98c19;
    padding: 20px 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: left;
    color: #ffffff;
         }
.dashboard-footer {
    color: white;
    padding: 25px 40px;
    margin-top: 72px;
    text-align: center;
    font-size: 14px;
}

