*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

body{
    background-color: whitesmoke;
}

.container{
   position: relative;
   margin: auto 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}


.orange-back{
    height: 405px;
    position: relative;
    width: 100%;
    background-color: #EB9D2E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 460px;
    padding: 100px;
    border-radius: 30px;
}

.white-back{
    position: absolute;
    margin-right: 485px;
    height: 405px;
    width: 100%;
    background-color: #FFFFFF;
    max-width: 100px;
    padding: 70px;
    border-radius: 30px;
    z-index: 1;
    box-shadow: 0px 8px 5px 7px rgba(0,0,0,0.2);
}

.orange-back input{
    margin: 5px 0;
    font-weight: normal;
    outline: none;
    max-width: 350px;
    border: none;
    height: 4vh;
    padding: 5px 15px;
    border-radius: 50px;
}

.orange-back label{
    font-weight: 500;
    color: whitesmoke;
    margin-bottom: 5px;
    margin-left: 5px;
}

#btn{
    margin-top: 20px;
    background-color: #FFFFFF;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    max-width: 100px;
    padding: 5px;
    margin-left: 158px;
    cursor: pointer;
    transition: 0.3s ease;
}

#btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

h1{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin-bottom: 20px;
}






