
.reset-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.reset-card {
    display: flex;
    width: 650px;
    height: 320px;
    position: relative;
}


.left-box {
    width: 180px;
    height: 380px;
    background: white;
    border-radius: 25px 0 25px 25px;
    box-shadow: 0px 6px 15px rgba(0,0,0,0.15);
    z-index: 2;
}


.right-box {
    width:380px;
    height:300px;
    flex: 1;
    background: #e6992d;
    border-radius: 25px;
    margin-left: -40px; 
    padding: 40px 50px;
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}


.right-box h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.right-box p {
    font-size: 13px;
    margin-bottom: 20px;
}


.right-box input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    outline: none;
}


.right-box button {
    padding: 10px 25px;
    background: #ffffff;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

.right-box button:hover {
    background: #f2f2f2;
}


.error {
    color: #fff;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
